<div class="containerAbout">
  <img
    src="/public/image/foto.jpg"
    alt="Black Cat"
    class="img-fluid h-25 w-25 rounded"
  />
  <h1 class="display-4">Feri Teja Kusuma</h1>
  <p class="lead">User</p>
</div>
